.header {
    display: block;
    position: relative;
    background: linear-gradient(lightpink, violet);
    width: 100%;
    height: 500px;
    border-radius: 15px;
    /*margin-top: -8px;
    margin-right: -8px;
    margin-left: -8px;
    margin-bottom: 50px;
    padding-bottom: 100px;*/
}

.imagenPortada{
    position: relative;
    right: 10em;
    top: 2em;
    float: right;
}

.imgportada {
    height: 400px;
    width: 400px;
}

.textoPortada{
    position: relative;
    float: left;
    size: 140cm;
    color: white;
    font-size: 35px;
    top: 3.5cm;
    left: 9.5cm;

}

.body{
    color: whitesmoke;
}

h2{
    font-size: 30px;
    color: rgb(65, 64, 64);

}
.main {
    margin-top: -20px;
    margin-left: 3cm;
}
.opciones{
    text-align: center;
}
.imgLocal, .imgCatalogo{
    vertical-align: middle;
    float: center;
    height: 150px;
    border: rgb(207, 148, 207) 4px solid;
    padding: 10px;
    margin: 10px;
}