.header {
    height: 400px;
    background: #333;
}

.header .contenedor {
    display: block;
    justify-content: space-between;
}

.imgportada {
    display: block;
    margin: auto;
    height: 300px;
    width: 300px;
}

.main {
    background-color: grey;
}