/*Video Local y Online*/

.headerLocal {
    position: relative;
    display: block;
    width: 100%;
    height: 100px;
    background-color: rgb(245, 180, 180);
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.formulario {
    padding-top: 10px;
    text-align: center;
}

.videoLocal {
    display: block;
    position: relative;
    width: 100%;
    height: 720px;
    background-color: rgb(173, 173, 173);
    justify-items: center;
}

#demo {
    padding-top: 35px;
    width: 100%;
    height: 700px;
}

.footerLocal {
    display: block;
    position: relative;
    width: 100%;
    height: 50px;
    background-color: rgb(245, 180, 180);
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

#demo {
    max-height: 650px;
}

#btnComp {
    background-color: rgb(219, 216, 216);
    border-radius: 15px;
}